.App {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.form-box {
	display: flex;
	width: 200px;
	height: 300px;
	align-content: center;
}

.header_component {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 6%;
	background-color: rgb(32, 32, 32);
	display: flex;
	justify-content: right;
	align-items: center;
}

.header_little {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px;
}

.signup-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 300px;
	height: 70vh;
	background-color: yellow;
}

.log_option {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.log_sign {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header_text {
	font-weight: bold;
	color: white;
	text-decoration: none;
}

.SubmitForm {
	border-radius: 20px;
	border: solid 1px black;
	background-color: rgb(233, 233, 233);
	width: 400px;
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.INPUT {
	margin-top: 50px;
	margin-bottom: 50px;
	width: 80%;
	height: 10%;
}

.SIGNINPUT {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 80%;
	height: 10%;
}

.UPLOADINPUT {
	margin-top: 6px;
	margin-bottom: 6px;
	width: 80%;
	height: 10%;
}

.filebox label {
	display: inline-block;
	padding: .5em .75em;
	color: #999;
	font-size: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #fdfdfd;
	cursor: pointer;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: .25em;
}
.filebox input[type="file"] {
	/* 파일 필드 숨기기 */
	position: absolute;
	margin-top: 9px;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.video_container {
	margin-top: 250px;
	display: grid;
	width: 90%;
	height: 90%;
	grid-template-columns: repeat(6, 16%);
	grid-template-rows: repeat(5, 20%);
}

.VideoBox {
	top: 200px;
	width: 70%;
	height: 70%;
}

.VideoBigBox {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 100px;
}

.each_video_box {
	display: flex;
	justify-content: center;
	align-content: center;
	width: 100%;
	height: 100%;
}

.each_video {
	width: 90%;
	height: 90%;
	background-color: #3f3f3f;
}

.thumbnail {
	border-radius: 20px;
	border: black 1px;
	width: 100%;
	height: 100%;
}

.Icon {
	margin-left: 10px;
	margin-right: 10px;
}

.pulsating-circle {
	position: absolute;
	left: 10%;
	top: 40%;
	transform: translateX(-50%) translateY(-50%);
	width: 30px;
	height: 30px;

	&:before {
		content: '';
		position: relative;
		display: block;
		width: 300%;
		height: 300%;
		box-sizing: border-box;
		margin-left: -100%;
		margin-top: -100%;
		border-radius: 45px;
		background-color: #01a4e9;
		animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
	}

	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		display: block;
		width: 100%;
		height: 100%;
		background-color: white;
		border-radius: 15px;
		box-shadow: 0 0 8px rgba(0, 0, 0, .3);
		animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
	}
}

@keyframes pulse-ring {
	0% {
		transform: scale(.33);
	}
	80%,
	100% {
		opacity: 0;
	}
}

@keyframes pulse-dot {
	0% {
		transform: scale(.8);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(.8);
	}
}

.siri-bar {
	z-index: -1;
	position: fixed;
	top: -200px;
	left: 40%;
	width: 300px;
	height: 100px;
	border-radius: 20px;
	background-color: #161515;
	transition: top 0.3s;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	p {
		font-family: monospace;
		color: white;
	}
}

.siri-compo {
	display: relative;
	z-index: -1;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: end;
	align-items: center;
	margin: 20px;
}

.asking {
	position: relative;
	top: -30%;
	left: 0%;
	height: 30%;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-right: 30px;
}

.transcript {
	position: relative;
	margin-top: 0px;
	top: -20%;
	left: 0%;
}
