.form-box {
	display: flex;
	width: 200px;
	height: 300px;
	align-content: center;
}

.header_component {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 5%;
	background-color: orange;
	display: flex;
	justify-content: right;
	align-items: center;
}

.signup-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 300px;
	height: 70vh;
	background-color: yellow;
}
