.App {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.form-box {
	display: flex;
	width: 200px;
	height: 300px;
	align-content: center;
}

.header_component {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 6%;
	background-color: rgb(32, 32, 32);
	display: flex;
	justify-content: right;
	align-items: center;
}

.header_little {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px;
}

.signup-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 300px;
	height: 70vh;
	background-color: yellow;
}

.log_option {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.log_sign {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header_text {
	font-weight: bold;
	color: white;
	text-decoration: none;
}

.SubmitForm {
	border-radius: 20px;
	border: solid 1px black;
	background-color: rgb(233, 233, 233);
	width: 400px;
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.INPUT {
	margin-top: 50px;
	margin-bottom: 50px;
	width: 80%;
	height: 10%;
}

.SIGNINPUT {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 80%;
	height: 10%;
}

.UPLOADINPUT {
	margin-top: 6px;
	margin-bottom: 6px;
	width: 80%;
	height: 10%;
}

.filebox label {
	display: inline-block;
	padding: .5em .75em;
	color: #999;
	font-size: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #fdfdfd;
	cursor: pointer;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: .25em;
}
.filebox input[type="file"] {
	/* 파일 필드 숨기기 */
	position: absolute;
	margin-top: 9px;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.video_container {
	margin-top: 250px;
	display: grid;
	width: 90%;
	height: 90%;
	grid-template-columns: repeat(5, 20%);
	grid-template-rows: repeat(5, 20%);
}

.each_video_box {
	display: flex;
	justify-content: center;
	align-content: center;
	width: 100%;
	height: 100%;
	background-color: aqua;
}

.each_video {
	width: 90%;
	height: 90%;
	background-color: azure;
}
